<%- include('../header') %>
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title text-center"></h3>
      </div>
      <% if(locals.message?.success){ %>
        <div class="alert alert-success w-50">
          <%= locals.message?.success %>
        </div>
        <% } %>
          <div class="row">
            <div class="col-md-6  stretch-card ">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title " align="center">Category</h4>

                  <form class="forms-sample" method="post" action="/category/insertcategory">
                    <div class="form-group">
                      <label for="exampleInputUsername1">Category Name</label>
                      <input type="text" class="form-control" id="exampleInputUsername1" name="category"
                        placeholder="Category">
                    </div>
                    <button type="submit" class="btn btn-primary mr-3">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
      <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com
          2020</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a
            href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a>
          from Bootstrapdash.com</span>
      </div>
    </footer>
    <!-- partial -->
  </div>
  <%- include('../footer') %>